@import '../../styles/variables';

.chat-pannel {
    z-index: $z-index-ui;
    height: $chat-pannel-height;
    position: sticky;
    top: calc(var(--100vh, 100vh) - $chat-view-height);
}

.chat-textbox {
    padding: 20px;
    font-size: x-large;
}