@import '../../styles/variables';

.popout {
  position: fixed;
  top: 20%;
  left: 50%;
  min-width: 200px;
  padding: 20px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: $z-index-primary + 1;

  &.INFO {
    background-color: #f0f0f0;
    border: 3px solid rgba(160, 160, 160);
  }
  &.WARNING {
    background-color: #fff3cd;
    border: 3px solid rgba(255, 193, 7);
  }
  &.ERROR {
    background-color: #f8d7da;
    border: 3px solid rgba(220, 53, 69);
  }
}
